<aside class="aside">

    
  <div class="aside--inner">

    <h1>Brands</h1>

  <ul>
    {% assign pages = site.data.samplelist.menu %}
      
    {% for entry in pages.subfolderitems %}
    
    {% if entry.category contains page.category and entry.mainCategory contains page.mainCategory  %} 
    <li>
     
      <a {% if page.company contains entry.page %} data-current="active" {% endif %}  class="asidelinks__item"  href="/{{page.mainCategory}}/{{entry.page}}">
        <img src="/assets/logos/{{entry.page}}.webp" alt="{{entry.name}}" />
        <span>{{ entry.name }}</span>
      </a>
 
    </li>

    {% elsif page.company == "all" or page.category == "all" or page.pageLevel == "mainBrandLevel" %}
    <li>
     
      <a {% if page.company contains entry.page %} data-current="active" {% endif %}  class="asidelinks__item"  href="/{{page.mainCategory}}/{{entry.page}}">
        <img src="/assets/logos/{{entry.page}}.webp" alt="{{entry.name}}" />
        <span>{{ entry.name }}</span>
      </a>
 
    </li>
    

    {% endif %}
    {% endfor %}
  </ul>

  </div>


    <div class="aside--inner">
      <h1>Top Deals</h1>
    
      <ul class="small-card--wrapper">
      {% for post in site.posts  limit:3 %}

      {% for item in site.data.brands %}
      {% if post.brand contains item.brand %} 
        {% assign mylink = item.url | append: post.productlink %}
      {% endif %}
      {% endfor %}

      {% assign priceBefore = post.before | times: 1.0  | round: 2 %}
    {% assign priceAfter = post.after | times: 1.0  | round: 2%}
    {% assign priceDifference = priceBefore | minus: priceAfter   %}
    {% assign priceDifferenceFloat = priceDifference | times: 1.0   %}
    {% assign discountPercentage = priceDifferenceFloat | divided_by: priceBefore | times: 100 | round: 3  %}

    {% assign first_image = post.content | split: '<img ' | last | split: '>' | first %}
    {% if first_image contains 'src=' %}
      {% assign src_index = first_image | split: 'src=' | last | split: ' ' | first %}
      {% assign src = src_index | remove: '"' %}
      {% endif %}

    {% if discountPercentage > 49 %}
      <li> <a href="{{mylink}}" class="small-card" href="/"> 

        {% assign foundImage = 0 %}
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src' %}
      
              {% if foundImage == 0 %}
                  {% assign html = image | split:"/>" | first %}
                  <img class="small-card__img"  {{ html }} />
                  {% assign foundImage = 1 %}
              {% endif %}
          {% endif %}
        {% endfor %}

        

        <div class="small-card__details">
          <div>
            <span>{{discountPercentage}} % OFF </span> 
            <p>{{post.title}}</p>
            <span>RM {{priceAfter}}</span>
          </div>
        </div>

        
     
        <!-- and page.mainCategory contains post.gender  -->
      </a>
    
    </li>

      {% endif %}
      {% endfor %}
  </ul> 

  </div>




  </aside>