<div class="nav-container">

    <div class="brand-icon"></div>

 
    
      <nav class="nav">
        <a href="/" class="logo">
   
        </a>
        <div class="mobile-menu-btn">Menu</div>
        <ul class="menus">

        
          {% for item in site.navigation_header %}

          {% if item.url contains '://' %}
            {% assign url = item.url %}
          {% else %}
            {% assign url = item.url | relative_url %}
          {% endif %}
    
          <li class="{% if item.url == page.url %}  item--current{% endif %}">
            <a href="{{ url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>

        <div class="menus--end">
          <a class="input search" href="search.html">Search</a>
        
          <a class="btn btn-round " href="about-us.html"
          >Submit</a
        >
        </div>

        <div class="menu-icon">
          <span></span>
          <span></span>
        </div>
      </nav>
</div>





