<div class="article-grid">
  <aside class="aside">
    <div class="aside--inner">
      <h1>Women</h1>
    <ul>
      <li> <a href="/"> Womens Shoes</a></li>
      <li> <a href="/">Women Clothing</a></li>
      <li> <a href="/">Women Accessories</a></li>
      <li> <a href="/">Women Bags</a></li>
      
    </ul>

    <h1>Mens</h1>

    <ul>
      <li> <a href="/"> Mens Shoes</a></li>
      <li> <a href="/">Mens Clothing</a></li>
      <li> <a href="/">Mens Accessories</a></li>
      <li> <a href="/">Mens Bags</a></li>
      
    </ul>

    <h1>Beauty</h1>

    <ul>
      <li> <a href="/">Skin Care</a></li>
      <li> <a href="/">Make up</a></li>
      <li> <a href="/">Bath Body</a></li>
      <li> <a href="/">Mens Care</a></li>
      <li> <a href="/">Fragrances</a></li>
      
    </ul>

    <h1>Kids</h1>

    <ul>
      <li> <a href="/">Girls Clothing</a></li>
      <li> <a href="/">Boys Clothing</a></li>
    </ul>

    </div>

    <div class="aside--inner">
      <h1>Brands</h1>
    <ul>
      <li> <a href="/">Zalora</a></li>
      <li> <a href="/">Cottonon</a></li>
      <li> <a href="/">Puma</a></li>
      <li> <a href="/">hermo</a></li>
      <li> <a href="/">jdsports</a></li>
      <li> <a href="/">skechers</a></li>
      <li> <a href="/">sephora</a></li>
      <li> <a href="/">charles & kieth</a></li>
      <li> <a href="/">addidas</a></li>
      <li> <a href="/">under-armour</a></li>
      
    </ul>
    </div>

    <div class="aside--inner">
      <h1>Discounts</h1>
    <ul>
      <li> <a href="/">30% above</a></li>
      <li> <a href="/">40% above</a></li>
      <li> <a href="/">50% above</a></li>
      <li> <a href="/">60% above</a></li>
      <li> <a href="/">70% above</a></li>
      </ul>

      </div>

  </aside>
  <div>
  <ul class="products">
{% if paginator.posts %}


    
    {% assign random_posts = paginator.posts | sample %} 
    {% for page in paginator.posts %}

    {% assign mydata = site.data.mydata %}
    {% assign post_date = post.date %}
    {% assign current_date = 'now' %}
    {% assign age = current_date | date: "%s" | minus: post_date | date: "%j" | minus: 1 %}

    {% assign priceBefore = page.before | times: 1.0  %}
    {% assign priceAfter = page.after | times: 1.0 %}
    {% assign priceDifference = priceBefore | minus: priceAfter   %}
    {% assign priceDifferenceFloat = priceDifference | times: 1.0   %}
    {% assign discountPercentage = priceDifferenceFloat | divided_by: priceBefore  %}


    {% assign first_image = page.content | split: '<img ' | last | split: '>' | first %}
    {% if first_image contains 'src=' %}
      {% assign src_index = first_image | split: 'src=' | last | split: ' ' | first %}
      {% assign src = src_index | remove: '"' %}
      {% endif %}

{%if age <= 120 %}

<li class="product" itemprop="item" itemtype="http://schema.org/Product">
      
  <meta itemprop="url" content="{{page.url}}">
  <meta itemprop="name" content="{{page.title}}" />
  <meta itemprop="priceCurrency" content="RM" />
  <meta itemprop="price" content="{{page.after}}" />
  <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
    <meta itemprop="name" content="{{page.brand}}" />
  </div>


  {% assign mydata = site.data.mydata %} 
  {% for item in mydata %} {% if item.brand == page.brand %}
   
    

    {% assign mylink = item.url | append: page.productlink %}

    {% endif %} 
    {% endfor %}



<div class="product__img">

  
     {% assign foundImage = 0 %}
            {% assign images = page.content | split:"<img " %}
            {% for image in images %}
              {% if image contains 'src' %}
          
                  {% if foundImage == 0 %}
                      {% assign html = image | split:"/>" | first %}
                      <img {{ html }} />
                      {% assign foundImage = 1 %}
                  {% endif %}
              {% endif %}
            {% endfor %}

  <div class="gotoproduct">
    <a href="{{item.url | append: page.productlink}}" target="_blank">go to product</a>
  </div>
  
  </div>
   

<div class="product__details"> 
    <p class="product__category">{{ page.brand }}</p>
    <p class="product__title">{{ page.title }}</p>
    <div class="offset">
      <span itemprop="priceCurrency" content="RM">RM</span>
      <span itemprop="price" content="">{{ page.before }}</span>
    </div>
    <div class="price">
       <div class="whole"> <span class="price-before">RM{{ page.before }}</span> RM{{ page.after }}  </div>
    </div>

    <a href="{{page.url}}" target="_blank">details</a>



    <div class="coupon-highlight">  
     {{discountPercentage | times: 100 | round }}%
    </div>


  </div>

</li>

{% endif %}

{% endfor %}
{% endif %}

</ul>
{% include post-pagination.html %}
</div>
</div>







