
 


{%if age <= 120 %}

<li class="product" itemprop="item" itemtype="http://schema.org/Product">
      
  <meta itemprop="url" content="{{page.url}}">
  <meta itemprop="name" content="{{page.title}}" />
  <meta itemprop="priceCurrency" content="RM" />
  <meta itemprop="price" content="{{page.after}}" />
  <div itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
    <meta itemprop="name" content="{{page.brand}}" />
  </div>






<div class="product__img">

  
     {% assign foundImage = 0 %}
            {% assign images = page.content | split:"<img " %}
            {% for image in images %}
              {% if image contains 'src' %}
          
                  {% if foundImage == 0 %}
                      {% assign html = image | split:"/>" | first %}
                      <img {{ html }} />
                      {% assign foundImage = 1 %}
                  {% endif %}
              {% endif %}
            {% endfor %}


  
  </div>
   

<div class="product__details"> 
    <p class="product__category">{{ page.brand }}</p>
    <a href="{{mylink}}" class="product__title">{{ page.title }}</a>
    
    <div class="offset">
      <span itemprop="priceCurrency" content="RM">RM</span>
      <span itemprop="price" content="">{{ page.before }}</span>
    </div>
    
    <div class="product__highlights">
    {% for category in page.categories %}
    <span>{{category}} </span> <p class="separator">|</p>
{% endfor %}
</div>
    <div class="price">
       <div class="whole"> RM{{ page.after  }}  </div>

       <div class="price-wrapper">
       <p class="price-before">RM{{ page.before}}</p> 
       <span class="coupon-highlight">  
        {{discountPercentage | times: 100  }}% OFF
       </span>
      </div>
    </div>

    <!-- <a href="{{page.url}}" target="_blank">details</a> -->



 


  </div>

</li>


{% endif %}


















