/*******************************************
ACCORDION COMPONENT 
******************************************/

.accordion {
    border: 1px solid #e3e3e3;
}

.accordion li {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    padding: 0 0.8em;
}

.accordion li p {
    display: none;
    padding: 0px;
    font-size: 1em;
}

.accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 14px;
    font-size: 0.875rem;
    user-select: none;
    color: #007DC3;
}

.accordion a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #007DC3;
    border-bottom: 1px solid #007DC3;
    position: absolute;
    right: 30px;
    content: " ";
    top: 22px;
    color: #007DC3;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.accordion p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 2;
    padding: 10px;
}

a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}