/************************
PRODUCR STYLES
************************/

.article-grid {

    min-height: 500px;
    display: grid;
    
    margin: 0.5em auto;

    .aside{
      display: none;
    }

    .inner-grid{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
  }



  /************************
  PRODUCTS STYLES
  ************************/
  
  
  .products {
    display: grid;
    justify-content: space-between;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
    align-items: flex-start;
    grid-template-rows: auto 1fr;
    padding-left: 0 !important;
  
    .product {
      position: relative;
      
      background-color: #fff;
    
      padding: 0.3rem 0.3rem 0;
      border-radius: 10px;
      overflow: hidden;
      
      border: 1px solid transparent;
      margin-bottom: 1em;
      
      &:hover{
        border: 1px solid #eaeaea;
        cursor: pointer;
      }



      &__highlights{
        color: #666;
        display: flex;

        span{
          border-bottom: 1px dashed;
          font-size: 12px;
    opacity: 0.7;
    margin-top: -3px;


        }

        .separator{
          color: #ddd;
          width: 8px;
          text-align: center;
          font-size: 10px;
          padding-top: 7px;
          margin: 0;

          &:last-child{
            display: none;
          }
        }
      }
  
  
  

  
      &__details {
        padding: 4px 8px;
        display: flex;
        flex-direction: column;
      }
  
      &__category {
        margin-bottom: 0;
        color: #008500;
        font-size: 16px;
        line-height: 16px;
        height: 18px;
        margin: 4px 0;
        font-weight: 400;
      }
  
      .intro {
        color: #424242;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
        max-height: 17px;
      }
  
      &__title {
        
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: #0090e3;
        white-space: normal;
        padding: 4px 0 0 0;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        height: 52px;
        -webkit-box-orient: vertical;
        
      }
  
      &__img {
        position: relative;
      display: block;
      width: 100%;
      // height: 329px;
      height: 268px;
      background-color: #efefef;
      margin-bottom: 8px;
      overflow: hidden;
      text-align: center;
  
      .gotoproduct{
        display: none;
      }
  
      &:hover .gotoproduct{
        display: block;
      }
  
  
        img {
          object-fit: contain;
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }
  
      &__footer {
        display: flex;
    
      font-size: 14px;
      padding-left: 8px;
      min-height: 36px;
      height: 36px;
      line-height: 36px;
  
        p {
          display: block;
          flex: 1;
          
        }
      }
    }
  }
  

  
  
  
  .price {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0.7rem;
    .currency {
      position: relative;
      padding-right: 0.1rem;
    }
  
    .decimal {
      position: relative;
      font-size: 16px;
    }
  
    .whole {
      padding-right: 0.2rem;
      display: flex;
      color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
      
    }
  
    .price-before {
      position: relative;
      color: #666666;
      opacity: 0.8;
      font-size: 14px;
      line-height: 16px;
      padding-right: 6px;
      text-decoration: line-through;
      border-right: 1px solid #767676;
      font-weight: 400;
    }

    .price-wrapper{
      display: flex;
    }
  }
  
  .coupon-highlight {
    
    
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
    border-radius: 4px;
    font-weight: 600;
    align-self: baseline;
    margin-left: 6px;
    color: #333333;
    
  }
  
  
  .offset {
    text-indent: -10000px;
    left: 0 ;
    height: 0px;
    bottom: -1px;
    z-index: -1;
    
  }
  


  .small-card{
    display: flex;
    background-color: transparent !important;
    align-items: flex-start !important;
    padding: 8px !important;
    margin-bottom: 16px;
    border: 1px solid #eaeaea;


    &__details{
      flex: 1;
    }

    &--wrapper li{
        width: 100%;
        
      }

    &__img{
      width: 100px;
    height: 110px;
    background-color: #ccc;
    object-fit: cover;
    margin-right: 0.5em ;
    border-radius: 8px;
    }

    p{
      font-size: 14px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-bottom: 4px;
    }
  }
  
  
 



  @media only screen and (min-width: 640px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  
    
  
    @media only screen and (min-width: 900px) {
      .products {
        grid-template-columns: repeat(3, 1fr);
      }
    }


    


    @media only screen and (min-width: 968px) {
      .products {
        grid-template-columns: repeat(3, 1fr);
      }

      .article-grid {

        grid-template-columns: 320px minmax(0,1fr);
    
        .aside{
          display: block;
        }
        }
    }


      
    @media only screen and (min-width: 1100px) {
      .products {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media only screen and (min-width: 1440px) {
      .products {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    
  
