/*************************************************************
TABLE COMPONENT
*************************************************************/

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 0;
}

.thead {
    border-bottom: 1px solid #e5ecef;
    font-weight: bold;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: left;
    padding: 15px 15px 15px 25px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #8fa4af;
}

.tableRow {
    border-bottom: 1px solid #e5ecef;
    color: rgba(0, 0, 0, 0.870588);
    font-size: $small;
    td {
        padding: 0;
        margin: 0;
    }
    &:hover {
        background-color: #fafbfb;
        cursor: pointer;
    }
    &:nth-of-type(even) {
        background-color: #f5f7f9;
    }
    .profile-pic {
        float: left;
        height: 35px;
        width: 35px;
        margin: -8px 1em 0 0;
        border-radius: 50%;
        background-color: #222;
        text-align: center;
        line-height: 34px;
        color: #fff;
        font-size: 0.9em;
    }
    .tableActions {
        i {
            font-size: 1.2em;
        }
    }
}

.normalHeight td {
    padding: 26px 10px 20px 24px;
    vertical-align: middle;
}

.largHeight td {
    padding: 26px 10px 20px 24px;
}



