// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------



$title-color:#3e3e3e;
$text-color:#333;
$border-color: #efefef;



