---
layout: default
---




<div class="article-grid">

    {%- include aside.html -%}
    
    <div class="inner-grid">
  <ul class="products">
    


  
    {% if paginator.posts %}


    {% assign random_posts = paginator.posts | sample %} 
    {% for page in paginator.posts %}

    

    {% for item in site.data.brands %}
    {% if page.brand contains item.brand %} 
      {% assign mylink = item.url | append: page.productlink %}
    {% endif %}
    {% endfor %}
    


    {% assign post_date = post.date %}
    {% assign current_date = 'now' %}
    {% assign age = current_date | date: "%s" | minus: post_date | date: "%j" | minus: 1 %}

    {% assign priceBefore = page.before | times: 1.0  | round: 2 %}
    {% assign priceAfter = page.after | times: 1.0  | round: 2%}
    {% assign priceDifference = priceBefore | minus: priceAfter   %}
    {% assign priceDifferenceFloat = priceDifference | times: 1.0  | round: 3  %}
    {% assign discountPercentage = priceDifferenceFloat | divided_by: priceBefore  %}


    {% assign first_image = page.content | split: '<img ' | last | split: '>' | first %}
    {% if first_image contains 'src=' %}
      {% assign src_index = first_image | split: 'src=' | last | split: ' ' | first %}
      {% assign src = src_index | remove: '"' %}
      {% endif %}
       
        {%- include post-list.html -%}
     
        {% endfor %}

        {% endif %}


        </ul>
  
     
        {% if paginator.total_pages > 1 %}
        <div class="pager">
            
            
                <a href="{{ paginator.previous_page_path | relative_url }}" class="{% if paginator.previous_page %} nothing{% endif %}  previous">&larr; Previouse</a>
            
            <ol>
            {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      <li >
          <a {% if page.url == trail.path %}class="selected"{% endif %} href="/{{ trail.path  }}" title="{{trail.title}}">{{ trail.num }}</a>
      </li>
    {% endfor %}
  {% endif %}
</ol>
            
            
              <a href="{{ paginator.next_page_path | relative_url }}" class="{% if paginator.previous_page %} nothing{% endif %}  next">Next &raquo;</a>
            
            
          </div>
        {% endif %}

      </div>
  
  </div>
  


  



