<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- General meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.collectionpage %}
      {% seo title=false %}
      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ collectiondata.title }} - {{ site.title }}</title>
     
    {% else %}
      {% seo %}
    {% endif %}
  

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">

    <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}" type="text/css" media="all">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    
 

    

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    

    
  </head>

  <body class="">
    
    {% include site-header.html %}

    {{ content }}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}


  </body>

</html>
