<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- General meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% assign site_name = site.name | escape %}
    {% assign site_url = site.url | escape %}
    {% assign page_title = page.title | escape %}
    {% assign page_description = page.description | strip_html | truncate:200 | escape %}
    {% assign page_image = page.image | default: "/assets/images/default-og-image.jpg" %}
    {% assign page_image_url = site_url | append: page_image %}
    
    <!-- Google Schema -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "{{ page_type }}",
      "name": "{{ page_title }}",
      "description": "{{ page_description }}",
      "image": "{{ page_image_url }}"
    }
    </script>
    
    <!-- Facebook Open Graph -->
    <meta property="og:type" content="{{ page_type }}" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ page_description }}" />
    <meta property="og:url" content="{{ site_url }}{{ page.url }}" />
    

    {% assign first_image = page.content | split: '<img ' | last | split: '>' | first %}
{% if first_image contains 'src=' %}
  {% assign src_index = first_image | split: 'src=' | last | split: ' ' | first %}
  {% assign src = src_index | remove: '"' %}
  {% endif %}

<meta property="og:image" content="{{ src }}" />
    

    
    <meta property="og:site_name" content="{{ site.name }}" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ src }}" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="{{ page.author | default: site.author }}" />
    

  

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    
      
      <link rel="stylesheet" href="{{ "./css/style.css" | relative_url }}" type="text/css" media="all">
 

    

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    

    
  </head>

  <body class="">

    <div class="post-header"></div>
    
    
    {{ content }}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}


  </body>

</html>
