// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/****************
MAINMENU
******************/

.header {
  background-color: #741fa2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
  // position: sticky;
  // top: 0px;
  // left: 0;
  width: 100%;
  z-index: 60;
  transform: translateZ(0);
}

.top {
  z-index: 10;

  height: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #5c1882;
  align-items: center;
  transition: background-color 0.3s;
  color: #fff;
}
.nav-container {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  padding: 0 16px
}

.nav {
  
  
  display: flex;
  font-weight: 500;
  align-items: flex-start;
  padding: 0.7em 0;

  .logo {
    background-image: url("../../assets/logos/logo.svg");
    background-size: 156px;
    background-repeat: no-repeat;
    background-position: left;
    width: 156px;
    height: 3.4375em;
    margin-right: 1em !important;
  }

  .menus {
    align-self: center;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 4em;
    flex: 1;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -9;

    .mobile-menu-btn{
      display: none;
    }

    a {
      padding: 0 0.5em !important;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      color: #ffffffcc;
    }

    a.btn {
      padding: 6px 16px;
    }

    &--end {
      display: flex;
      flex: 1;
      .search {
        width: 330px;

        border-radius: 50vh;
        margin-left: auto;
        font-size: 1em;
        line-height: 2.25em;
        color: #8d8b8b;
        padding: 5px 16px;
      }
    }
  }

  .menus.active {
    opacity: 1;
    z-index: 9;
    display: flex;
  }
}

.menu-icon {
  width: 30px;
  height: 35px;
  z-index: 9999;
  margin-top: 2em;
  display: none;

  span {
    display: block;
    margin: 0 auto;
    width: 18px;
    height: 2px;
    background-color: #111111;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;

    &:first-child {
      margin-bottom: 7px;
    }

    &:last-child {
      margin-top: 7px;
    }
  }
}

.menu-icon.active {
  span {
    &:first-child {
      margin-bottom: -2px;
      transform: rotate(45deg);
    }
    &:last-child {
      margin-top: -2px;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    .menus {
      position: relative;
      z-index: 9;
      flex-direction: row;
      height: auto;
      opacity: 1;
      padding: 0;
      background-color: transparent;
      display: flex;
    }

    .mobile-menu-btn{
      display: none;
    }
  }
}

.toggle-menu {
  padding: 0.1em 0.2em 0.2em;
  position: absolute;
  top: 0.12em;
  right: 0;
  &:hover {
    cursor: pointer;
  }
}

.mobile-menu {
  padding-left: 2em;
  background-color: rgba(0, 0, 0, 0.51);
  position: fixed;
  z-index: 99999;
  top: 0;
  display: none;
  width: 100vw;
}

.show-menu {
  right: 0;
}

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav__items {
    position: static;
    height: auto;
    display: flex;
    flex: 1;
    overflow: visible;
  }
  .nav__item {
    padding: 0 1.5em 0 1.5em;

    font-weight: bold;

    border-bottom: 0;
    a {
      display: block;
      line-height: 62px;
    }
  }

  .nav__item--btn {
    a {
      color: #fff;
    }
  }

  .nav--right {
    justify-content: flex-end;
  }
  .nav__item--small {
    font-size: 0.9em;
  }
  .toggle-menu {
    display: none;
  }
  #logo {
    align-self: flex-start;
    margin-left: 0;
  }
}
