/**
 * Basic typography style for copy text
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;800&display=swap");

@font-face {
  font-family: "august";
  src: url("../../../fonts/August-Bold.ttf");
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased; //line-height: 1.2em;
  background: #f8f7f88f; 
    color: #707070;
  font-weight: 400;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 140%;
}

h2,
.h1,
.h2,
.h3,
.h4,
.h5 {
  letter-spacing: -0.7px;
  line-height: 120%;
  color: #160042;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.h1.logo-text{
  font-family: "august", sans-serif;
  font-size: 29.72448vw;
  text-align: center;
  margin-bottom: 0;
}

.h1 {
 font-size: clamp(32px, 3.33333vw, 48px);
  margin-bottom: 0.6em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    289.17deg,
    #c8bdff -50.13%,
    #b5edff -5.03%,
    #00cbff 30.57%,
    #6721ff 73.85%,
    #c8bdff 112.65%
  );
}

.h2 {
  font-size: clamp(24px, 2.22222vw, 32px);
  margin-bottom: 0.6em;
  color: #160042;
}

.h3 {
  font-size: clamp(20px, 1.66667vw, 24px);
  margin-bottom: 0.5em;
  color: $title-color;
}

.h4 {
  font-size: clamp(18px, 1.38889vw, 20px);
  margin-bottom: 10px;
  color: $title-color;
}

.h5 {
 
  margin: 10px 0;
}

.h6 {

  margin-bottom: 15px;
  color: $marker;
  font-weight: 300;
}

p {
  margin: 0 0 26px 0;
  font-weight: 200;
  color: $text-color;
  line-height: 160%; 
}

p.small{
  font-size: 14px;
}

a{
  font-size: clamp(14px, 1.25vw, 16px);
    line-height: 140%;
}

@media screen and (min-width: 767px) {
  .h1 {
    font-size: 3.4rem;
  }

  // font-size: clamp(2rem, 1.42857rem + 2.85714vw, 4rem);


  .lead-text {
    font-size: clamp(34px, 3.33333vw, 44px);
    line-height: 120%;
  }

  .lead-text.has-padding{
    
    padding-bottom: 1em;
  }

  .lead-spacer{
    padding-top: 4em;
    padding-bottom: 4em;
    border-top:1px solid #efefef;
  }

  .lead-after{
    
    font-size: clamp(34px, 3.33333vw, 44px);
    line-height: 130%;
    margin-bottom: 1em;
  }

  .side-text{
    width: 100%;
    max-width: 33.33%;
  }

  .lead-text.border{
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    border-bottom: 1px solid #5d5d5d1a;
  }

}

@media screen and (min-width: 1024px) {

}


